/*foglio di stile per le pesonalizzazioni*/
/*utilizzo barlow come font*/
body, *{
  font-family: "Barlow Semi Condensed", sans-serif !important;
}

/*modifico il megamenu*/
.mega-menu--reverse .mega-menu__promo {
  justify-content: flex-start;
}

.mega-menu__linklist > * {
	width:100%;	
  max-width: none;
}


@media screen and (min-width: 1400px) {
  .mega-menu {
    --mega-menu-gap: 6.25rem;
    --mega-menu-linklist-gap: 2.5rem 6.25rem;
  }

  .mega-menu:has(.mega-menu__linklist > :nth-child(5)) {
    --mega-menu-linklist-gap: 2.5rem 4rem;
  }
}